ul.nav {
	list-style-type: none;
  overflow: hidden;
	background-color: #FFA2C1;
	position: fixed; /* Set the navbar to fixed position */
 	top: 0; /* Position the navbar at the top of the page */
	left: 0;
	right: 0;
 	width: 100%;
	display: flex;
}

li.nav {
	float: right;
	padding-right: 50;
}


li.nav a {
	font-family: "Garamond", serif;
	font-size: 2.15em;
  display: block;
  	color: white;
  	text-align: center;
		padding-right: 0%;
  	text-decoration: none;
}


li.nav a:hover {
	background-color: #E9B47A;
}

ul.nodot {
	list-style-type: none;
	margin-left: 8%;
}

td.right {
	padding-left: 25;
}

header {
	padding-top: 45;
}

body{
		background-color: #F9E1D9;
};

<style>
a:link {
	color: #FF69B4;
	background-color: white;
  text-decoration: none;
}

a:visited {
	color: #FF69B4;
	background-color: white;
  text-decoration: none;
}

a:hover {
  color: #E9B47A;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
	color: #8E735B;
	background-color: white;
  text-decoration: underline;
}
</style>
